src/main/mule/global/fastgo-externalsystem.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="fastgo-externalsystemFlow" doc:id="8f603790-e3d1-4040-b9c9-972dfdef0243" >
		<http:listener doc:name="Listener" doc:id="2483b89d-5656-400f-b2f3-f0ef2cbe3fbb" config-ref="HTTP_Listener_config" path="${http.listener.path}"/>
		<logger level="INFO" doc:name="Logger" doc:id="3e1b7377-3cfb-47c5-85d9-b22f6f19b21b" message="FastGo externalFlow started"/>
		<ee:transform doc:name="Transform Message" doc:id="34fe3d5a-1c4c-40c5-907d-1d569cd30e02" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="serviceType" ><![CDATA[%dw 2.0
output application/java
---
attributes.uriParams.serviceType]]></ee:set-variable>
				<ee:set-variable variableName="transactionId" ><![CDATA[%dw 2.0
output application/java
---
attributes.headers.transactionId]]></ee:set-variable>
				<ee:set-variable variableName="collection" ><![CDATA[%dw 2.0
output application/java
---
attributes.headers.Connection]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<choice doc:name="Choice" doc:id="72dce8d1-ea54-4b8a-a677-1549e145d224" >
			<when expression="#[vars.serviceType == 'routes']">
				<logger level="INFO" doc:name="Logger" doc:id="4564c0dc-1d4c-47bc-bfc6-33b13f8ec3b2" message="FastGo external-system api to get #[vars.serviceType] for transactionId: #[vars.transactionId]"/>
				<flow-ref doc:name="Flow Reference" doc:id="c2e37fb1-d78c-4cc3-b56f-e6300c0a45ab" name="FastGo-GetRoutes-ImplementationFlow"/>
			</when>
			<when expression="#[vars.serviceType == 'schedules']">
				<logger level="INFO" doc:name="Logger" doc:id="b7839155-b8bd-461d-948e-73864e72999f" message="FastGo external-system api to get #[vars.serviceType] for transactionId: #[vars.transactionId]"/>
				<flow-ref doc:name="Flow Reference" doc:id="fed063e2-4a67-4d1c-8daa-accc1ece61e0" name="FastGo-GetSchedules-ImplementationFlow"/>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="d1a046d2-ca99-4be6-9534-0ff3d9b98bfc" message="FastGo external-system api if requested serviceType is not listed sentRequest to check: #[vars.serviceType] for transactionId: #[vars.transactionId]"/>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Logger" doc:id="c5a02c35-70a6-43d5-8373-deb3a1c381bd" message="FastGo external-system api Response for transactionId: #[vars.transactionId]"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="d5ad104a-e6d8-4933-bfc1-cbe7ba7228ed" >
				<logger level="INFO" doc:name="Logger" doc:id="0c06483e-5e6d-497a-bb26-301c6a5ca00d" message="FastGo external-system api error response to serviceType: #[vars.serviceType] for transactionId: #[vars.transactionId] erroMessage: #[error.message] and errorType:[errorType]"/>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
